<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfioeT1Q7RBVAGRVsq4xf7mjMBoskauA4</string>
	<key>GCM_SENDER_ID</key>
	<string>158598159288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Learnix</string>
	<key>PROJECT_ID</key>
	<string>learnix-6ff4e</string>
	<key>STORAGE_BUCKET</key>
	<string>learnix-6ff4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158598159288:ios:6d9ea0b29002b053248d4d</string>
</dict>
</plist>